In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('/Users/karteekedumudi/Desktop/sentiment_data.csv')

In [3]:
data_final = pd.read_csv('/Users/karteekedumudi/Desktop/Final_Sentiment_data.csv')

In [4]:
data_final.columns

Index(['Unnamed: 0', 'id', 'ticker', 'title', 'category', 'content',
       'release_date', 'provider', 'words', 'P/N', 'Neg', 'Neu', 'Pos',
       'Compound', 'High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close',
       'Stock_op'],
      dtype='object')

In [5]:
df = data_final[['id','ticker','category','release_date','provider','P/N','Neg', 'Neu', 'Pos',
       'Compound','High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close','Stock_op']]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165209 entries, 0 to 165208
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            163589 non-null  object
 1   ticker        163589 non-null  object
 2   category      163482 non-null  object
 3   release_date  163328 non-null  object
 4   provider      163328 non-null  object
 5   P/N           163328 non-null  object
 6   Neg           163328 non-null  float64
 7   Neu           163328 non-null  float64
 8   Pos           163328 non-null  float64
 9   Compound      163328 non-null  object
 10  High          163328 non-null  float64
 11  Low           163328 non-null  object
 12  Open          163328 non-null  object
 13  Close         163221 non-null  float64
 14  Volume        163221 non-null  float64
 15  Adj Close     163221 non-null  float64
 16  Stock_op      163174 non-null  float64
dtypes: float64(8), object(9)
memory usage: 21.4+ MB

In [7]:
df

,id,ticker,category,release_date,provider,P/N,Neg,Neu,Pos,Compound,High,Low,Open,Close,Volume,Adj Close,Stock_op
0,221591,UBER,opinion,1/22/20,Zacks Investment Research,1,0.061,0.808,0.132,0.9723,37.939999,36.91999817,37.93999863,37.040001,29765200.0,37.040001,0.0
1,221600,UBER,opinion,1/22/20,Zacks Investment Research,1,0.050,0.809,0.141,0.9618,37.939999,36.91999817,37.93999863,37.040001,29765200.0,37.040001,0.0
2,221601,UBER,news,1/22/20,Investing.com,1,0.047,0.788,0.165,0.9811,37.939999,36.91999817,37.93999863,37.040001,29765200.0,37.040001,0.0
3,221602,UBER,news,1/22/20,MarketWatch,1,0.000,0.798,0.202,0.9565,37.939999,36.91999817,37.93999863,37.040001,29765200.0,37.040001,0.0
4,221603,UBER,news,1/22/20,Reuters,1,0.020,0.920,0.060,0.7845,37.939999,36.91999817,37.93999863,37.040001,29765200.0,37.040001,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165204,443022,T,opinion,10/31/12,The Gold Report,1,0.052,0.806,0.142,0.9989,34.880001,34.43,34.75,34.590000,20591400.0,21.483995,0.0
165205,443023,T,opinion,9/24/12,Jeff Miller,1,0.108,0.701,0.190,0.9991,38.490002,38.22,38.3,38.250000,20126200.0,23.484596,0.0
165206,443024,T,opinion,10/4/12,Ivan Kitov,0,0.152,0.812,0.037,-0.9874,38.430000,38.22,38.33,38.340000,20322700.0,23.539852,1.0
165207,443025,T,opinion,5/30/12,StreetAuthority,1,0.080,0.738,0.182,0.9899,34.110001,33.7,33.72,33.840000,30160800.0,20.521389,1.0
165208,443026,T,opinion,7/16/12,Portfolio Cafe,1,0.077,0.661,0.261,0.9993,35.560001,35.19,35.22,35.419998,17691300.0,21.747040,1.0

In [8]:
df.dropna(inplace = True)

In [9]:
convert_dict = {'P/N':int,
                'Compound':float,
                'Low':float,
                'Open':float
               }
  
df = df.astype(convert_dict)
print(df.dtypes)

id               object
ticker           object
category         object
release_date     object
provider         object
P/N               int64
Neg             float64
Neu             float64
Pos             float64
Compound        float64
High            float64
Low             float64
Open            float64
Close           float64
Volume          float64
Adj Close       float64
Stock_op        float64
dtype: object

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
df['category'] = df[['category']].apply(LabelEncoder().fit_transform)

In [12]:
df['provider'] = df[['provider']].apply(LabelEncoder().fit_transform)

In [13]:
df['release_date'] = pd.to_datetime(df['release_date'])

In [14]:
for i in range(len(df['release_date'])):
    try:
        df['release_date'].iloc[i] = pd.to_datetime(df['release_date'].iloc[i], format = "%m/%d/%y")
    except ValueError:
        df['release_date'].iloc[i] = np.nan
        continue

In [15]:
import datetime as dt
day = dt.timedelta(days=1)
df['day_before'] = df['release_date'] - day

In [16]:
stock_df = pd.read_csv('/Users/karteekedumudi/All_Stock_data.csv')

In [17]:
for i in range(len(stock_df['Release_date'])):
    try:
        stock_df['Release_date'].iloc[i] = pd.to_datetime(stock_df['Release_date'].iloc[i], format = "%Y/%m/%d")
    except ValueError:
        stock_df['Release_date'].iloc[i] = np.nan
        continue

In [18]:
stock_df.dropna(inplace = True)

In [19]:
stock_df['Release_date'] = pd.to_datetime(stock_df['Release_date'])

In [20]:
df_new = df.merge(stock_df[['Volume','id','Release_date']],
                  how='inner', left_on=['ticker','day_before'], right_on=['id','Release_date'])

In [21]:
df_new['ID'] = df_new[['ticker']].apply(LabelEncoder().fit_transform)

In [22]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 799851 entries, 0 to 799850
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              799851 non-null  object
 1   High              799851 non-null  float64
 2   Low               799851 non-null  float64
 3   Open              799851 non-null  float64
 4   Close             799851 non-null  float64
 5   Volume            799851 non-null  float64
 6   Adj Close         799851 non-null  float64
 7   id                799851 non-null  object
 8   Release_date      799851 non-null  datetime64[ns]
 9   Percentae_change  799851 non-null  float64
dtypes: datetime64[ns](1), float64(7), object(2)
memory usage: 67.1+ MB

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 163174 entries, 0 to 165208
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            163174 non-null  object
 1   ticker        163174 non-null  object
 2   category      163174 non-null  int64
 3   release_date  163174 non-null  datetime64[ns]
 4   provider      163174 non-null  int64
 5   P/N           163174 non-null  int64
 6   Neg           163174 non-null  float64
 7   Neu           163174 non-null  float64
 8   Pos           163174 non-null  float64
 9   Compound      163174 non-null  float64
 10  High          163174 non-null  float64
 11  Low           163174 non-null  float64
 12  Open          163174 non-null  float64
 13  Close         163174 non-null  float64
 14  Volume        163174 non-null  float64
 15  Adj Close     163174 non-null  float64
 16  Stock_op      163174 non-null  float64
 17  day_before    163174 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(11), int64(3), object(2)
memory usage: 23.7+ MB

In [24]:
df_new.columns

Index(['id_x', 'ticker', 'category', 'release_date', 'provider', 'P/N', 'Neg',
       'Neu', 'Pos', 'Compound', 'High', 'Low', 'Open', 'Close', 'Volume_x',
       'Adj Close', 'Stock_op', 'day_before', 'Volume_y', 'id_y',
       'Release_date'],
      dtype='object')

In [25]:
X = df_new.drop(columns = ['release_date','id_x','High','Low','Stock_op','Close','Adj Close','Volume_x','id_y','Release_date','day_before','ticker'], axis = 1)

In [26]:
X

,ticker,category,provider,P/N,Neg,Neu,Pos,Compound,Open,Volume_y
0,258,1,875,1,0.061,0.808,0.132,0.9723,37.939999,48746700.0
1,258,1,875,1,0.050,0.809,0.141,0.9618,37.939999,48746700.0
2,258,0,401,1,0.047,0.788,0.165,0.9811,37.939999,48746700.0
3,258,0,561,1,0.000,0.798,0.202,0.9565,37.939999,48746700.0
4,258,0,686,1,0.020,0.920,0.060,0.7845,37.939999,48746700.0
...,...,...,...,...,...,...,...,...,...,...
127606,244,1,799,1,0.049,0.811,0.140,0.9984,34.270000,34858000.0
127607,244,1,409,1,0.088,0.775,0.137,0.9432,33.869999,19995900.0
127608,244,1,188,1,0.101,0.785,0.113,0.9828,33.650002,25150900.0
127609,244,1,409,0,0.152,0.812,0.037,-0.9874,38.330002,21572900.0
127610,244,1,773,1,0.080,0.738,0.182,0.9899,33.720001,22911100.0

In [27]:
y = df_new['Stock_op']

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [31]:
model = RandomForestClassifier()

In [32]:
from sklearn.metrics import accuracy_score
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.5863807334656775

In [ ]:
from sklearn.feature_selection import RFE
import numpy as np
#no of features
nof_list=np.arange(1,10)            
high_score=0
#Variable to store the optimum features
nof=0           
score_list =[]
for n in range(len(nof_list)):
    X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 42)
    model = RandomForestClassifier()
    rfe = RFE(model,nof_list[n])
    X_train_rfe = rfe.fit_transform(X_train,y_train)
    X_test_rfe = rfe.transform(X_test)
    model.fit(X_train_rfe,y_train)
    score = model.score(X_test_rfe,y_test)
    score_list.append(score)
    if(score>high_score):
        high_score = score
        nof = nof_list[n]
print("Optimum number of features: %d" %nof)
print("Score with %d features: %f" % (nof, high_score))

In [ ]:
score_list

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 42)
model = RandomForestClassifier()
rfe = RFE(model,nof)
X_train_rfe = rfe.fit_transform(X_train,y_train)
X_test_rfe = rfe.transform(X_test)
model.fit(X_train_rfe,y_train)
score = model.score(X_test_rfe,y_test)

In [ ]:
score

In [ ]:
rfe.support_

In [ ]:
rfe.ranking_

In [ ]:
df_new['Year'] = df_new['release_date'].dt.year
df_new['Month'] = df_new['release_date'].dt.month
df_new['week'] = df_new['release_date'].dt.week

In [ ]:
df = pd.DataFrame(df_new[['ticker','week','Month','Year','Volume']].groupby(by = ['ticker','week','Month','Year']).mean())